In [227]:
import pandas as pd
import numpy as np
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.metrics import accuracy_score

In [228]:
df = pd.read_csv('irisdata.csv')
encoder = preprocessing.LabelEncoder()
encoder.fit(df.species)
df['class'] = encoder.transform(df.species)
x = df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']].to_numpy()
y = df[['class']]
y = np.ravel(y, order='C')
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [229]:
sc = StandardScaler()
sc.fit(x_train)
x_train_std = sc.transform(x_train)
x_test_std = sc.transform(x_test)

In [230]:
model = MLPClassifier(hidden_layer_sizes=(7,7,7), activation = 'relu', solver='lbfgs', max_iter=2000).fit(x_train_std,y_train)
prediction = model.predict(x_test_std)

In [231]:
print("The accuracy score is" ,accuracy_score(y_test, prediction))

The accuracy score is 0.9666666666666667

In [232]:
df

     sepal_length  sepal_width  petal_length  petal_width    species  class
0             5.1          3.5           1.4          0.2     setosa      0
1             4.9          3.0           1.4          0.2     setosa      0
2             4.7          3.2           1.3          0.2     setosa      0
3             4.6          3.1           1.5          0.2     setosa      0
4             5.0          3.6           1.4          0.2     setosa      0
..            ...          ...           ...          ...        ...    ...
145           6.7          3.0           5.2          2.3  virginica      2
146           6.3          2.5           5.0          1.9  virginica      2
147           6.5          3.0           5.2          2.0  virginica      2
148           6.2          3.4           5.4          2.3  virginica      2
149           5.9          3.0           5.1          1.8  virginica      2

[150 rows x 6 columns]